# Pandas NBgrader exercises

In this notebook you will find the 6 deliverable exercises regarding pandas. This notebook is autograded so please dont modify any cell except to add your solution. Modifying this notebook may result in you not getting a grade.

In [6]:
import pandas as pd
import numpy as np

In [22]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


df = pd.DataFrame(data, index=labels)

**13.** Change the age in row 'f' to 1.5.

In [23]:
# YOUR CODE HERE
df.iat[5,1] = 1.5

#raise NotImplementedError()

In [11]:
assert df['age']['f'] == 1.5

In [13]:
 df['age']['f'] == 1.5

True

**18.** Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visit' column in *ascending* order.

In [27]:
 df.sort_values(by=['age', 'visits'], ascending=[False, True])

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

In [69]:
# YOUR CODE HERE


sort_by_age = df.sort_values(by='age', ascending=False)

sort_by_visits = df.sort_values(by='visits', ascending=True)

print(sort_by_age)
print(sort_by_visits)




#raise NotImplementedError()

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
b    cat  3.0       3      yes
j    dog  3.0       1       no
a    cat  2.5       1      yes
f    cat  2.0       3       no
c  snake  0.5       2       no
d    dog  NaN       3      yes
h    cat  NaN       1      yes
  animal  age  visits priority
a    cat  2.5       1      yes
g  snake  4.5       1       no
h    cat  NaN       1      yes
j    dog  3.0       1       no
c  snake  0.5       2       no
e    dog  5.0       2       no
i    dog  7.0       2       no
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  2.0       3       no

In [71]:
b = True
for i in range(df.shape[0]-1):
    if df['age'].values[i] < df['age'].values[i+1]:
        b = False
        break
    
assert b

AssertionError:

**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

In [80]:
# YOUR CODE HERE

df = pd.DataFrame(np.random.random(size=(5, 3)))

x = df[0:1:1]

mean_of_row = df.mean(axis=1)

sub_row = df.sub(df.mean(axis=1), axis=0)

print(sub_row)

#raise NotImplementedError()

          0         1         2
0  0.469664 -0.216384 -0.253279
1  0.332338 -0.157193 -0.175145
2  0.230351 -0.125177 -0.105174
3 -0.398799  0.320243  0.078556
4  0.064535  0.143608 -0.208143

In [79]:
assert df.shape == (5,3)
assert df[0].max() <= 1
assert df[0].min() >= -1

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? (Find that column's label.)

In [4]:
# YOUR CODE HERE

df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))

print(df)

sum_column = df.sum(axis=0)

c = sum_column.min()
    

print(c)







#raise NotImplementedError()

          a         b         c         d         e         f         g  \
0  0.017471  0.417575  0.567069  0.542783  0.876653  0.344298  0.664328
1  0.858612  0.955016  0.961360  0.985799  0.503366  0.205576  0.340706
2  0.856968  0.847458  0.108172  0.459959  0.291360  0.273126  0.639259
3  0.530838  0.068789  0.817730  0.187435  0.328777  0.164722  0.301983
4  0.449448  0.474040  0.978213  0.104504  0.500075  0.907536  0.465656

          h         i         j
0  0.832216  0.917888  0.473744
1  0.078474  0.827944  0.010674
2  0.000129  0.955033  0.028327
3  0.158852  0.364228  0.709283
4  0.190890  0.005683  0.796907
1.2605593528808374

In [ ]:
assert idx in 'abcdefghij'

The next three puzzles are slightly harder...

**26.** You have a DataFrame that consists of 10 columns of floating--point numbers. Suppose that exactly 5 entries in each row are NaN values. For each row of the DataFrame, find the *column* which contains the *third* NaN value.

(You should return a Series of column labels.)

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert indexes == [3, 8, 5, 6, 8]
assert res.shape == (5,)
assert list(res.values) == [3, 8, 5, 6, 8]

**27.** A DataFrame has a column of groups 'grps' and and column of numbers 'vals'. For example: 

```python
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
```
For each *group*, find the sum of the three greatest values.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert res.values[0] == 409
assert res.values[1] == 156
assert res.values[2] == 345